<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editComponent<%= @component.id %>" style="width: 100%; margin-top: 10px;">
  <%= @component.heading %>
</button>
<!-- Modal -->
<div class="modal fade" id="editComponent<%= @component.id %>" tabindex="-1" role="dialog" aria-labelledby="editComponent<%= @component.id %>Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(@component, :html => {class: "form-group", role: "form"}, url: update_component_path(@component.id), remote: true) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editComponent<%= @component.id %>Label">Element bearbeiten</h4>
        </div>
        <div class="modal-body">
          <% if @component.section.column_type(@component.position) == "complete" %>
            <div class="form-group">
              <%= f.label :heading %>
              <%= f.text_field :heading, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :subheading %>
              <%= f.text_field :subheading, autofocus: true, class: 'form-control' %>
            </div>
          <% end %>
          <% if @component.section.column_type(@component.position) != "img"  %>
           <div class="form-group">
            <%= f.text_area :content, class: 'updated_editor' %>
             <script>
              CKEDITOR.replaceAll('updated_editor');
            </script>
           </div>
          <% elsif @component.section.column_type(@component.position) %>
           <div class="form-group">
              <%= f.label "Logo" %>
              <%= f.file_field :logo, autofocus: true, class: 'form-control' %>
            </div>
          <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
          <input type="submit" name="commit" value="Element erstellen" class="btn btn-primary" data-disable-with="Element erstellen">
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>