<nav class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand" href="#">
            OnelineApp
        </a>

        <h4 class="c-sidebar__title">Meine Webseite</h4>
        <ul class="c-sidebar__list">

            <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Index' then 'is-active' end %>" href="/dashboard/">
                    <i class="fa fa-home u-mr-xsmall"></i>Übersicht
                </a>
            </li>
            <li class="c-sidebar__item has-submenu">
                <a class="c-sidebar__link collapsed" data-toggle="collapse" href="#sidebar-submenu" aria-expanded="false" aria-controls="sidebar-submenu">
                    <i class="fa fa-caret-square-o-down u-mr-xsmall"></i>Seiten
                </a>
                <ul class="c-sidebar__submenu collapse" id="sidebar-submenu" style="">
                  <% current_user.website.pages.each do |page| %>  
                  <li><%= link_to page.name, page_path(page.id), class:'c-sidebar__link' %></li>
                  <% end %>
                </ul>
            </li>
            
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="/dashboard/inquieries">
                    <i class="far fa-envelope u-mr-xsmall"></i> Neue Seite
                </a>
            </li>

            <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Public Inquieries' then 'is-active' end %>" href="/dashboard/publicinquieries">
                    <i class="fa fa-bullhorn u-mr-xsmall"></i>Auschreibungen
                </a>
            </li>

        <h4 class="c-sidebar__title">Partner</h4>
        <ul class="c-sidebar__list">
          
            <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Partners' then 'is-active' end %>" href="/dashboard/partners">
                    <i class="fa fa-users u-mr-xsmall"></i>Partner Übersicht
                </a>
            </li>
          
            <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'New Partners' then 'is-active' end %>" href="/dashboard/partners/new">
                    <i class="fa fa-user-plus u-mr-xsmall"></i>Neue Partner hinzufügen
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Konto bearbeiten</h4>
        <ul class="c-sidebar__list">

           <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Settings' then 'is-active' end %>" href="/dashboard/settings">
                    <i class="fa fa-cog u-mr-xsmall"></i>Einstellungen
                </a>
            </li>
          
           <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Services' then 'is-active' end %>" href="/dashboard/settings/services">
                    <i class="fa fa-cogs u-mr-xsmall"></i>Leistungen bearbeiten
                </a>
            </li>          
            
           <li class="c-sidebar__item">
                <a class="c-sidebar__link <%= if @active == 'Support' then 'is-active' end %>" href="/dashboard/support">
                    <i class="far fa-life-ring u-mr-xsmall"></i>Support
                </a>
            </li>
          
            <li class="c-sidebar__item">
              <a class="c-sidebar__link" href="/impressum">
                <i class="fa fa-question-circle u-mr-xsmall"></i> Impressum
              </a>
            </li>
          </ul>
           <h4 class="c-sidebar__title"></h4>
          <ul class="c-sidebar__list">  
            <li class="c-sidebar__item">
                <%= link_to destroy_user_session_path, method: :delete, class: "c-sidebar__link" do %>
                    <i class="fa fa-arrow-left u-mr-xsmall"></i> Abmelden
                <% end %>
            </li>
        
        </ul>
    </div> <!-- // .c-sidebar -->
</nav> <!-- // .o-page__sidebar -->