<h1>
  Herzlich Willkommen. Bitte erstellen Sie ein Neues Passwort.
</h1>
<%= form_for(@user, :html => {class: "form-group", role: "form"}, url: create_password_url, method: :post) do |f| %>
              <div class="form-group">   
                  <%= f.label :password_confirmation %>
                 <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Altes Passwort" %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control", placeholder: "Neues Passwort" %>
              </div>
                <%= f.submit class: 'btn btn-primary' %>
        <% end %>