<div class="row">
  <div class="col-md-<%= section.first_column %>">
    <% if section.first_column_img %>
      <%= image_tag section.columns.order(:position).first.image
    <% else %>
      <h1><%= section.columns.order(:position).first.header unless section.columns.order(:position).first.header != "" %></h1>
      <h2><%= section.columns.order(:position).first.subheader unless section.columns.order(:position).first.subheader != "" %></h2>
      <%= raw section.columns.order(:position).first.content unless section.columns.order(:position).first.content != "" %>
    <% end %>
  </div>
  <div class="col-md-<%= section.first_column %>">
    <% if section.second_column_img %>
      <%= image_tag section.columns.order(:position).second.image
    <% else %>
      <h1><%= section.columns.order(:position).first.header unless section.columns.order(:position).first.header != "" %></h1>
      <h2><%= section.columns.order(:position).first.subheader unless section.columns.order(:position).first.subheader != "" %></h2>
      <%= raw section.columns.order(:position).first.content unless section.columns.order(:position).first.content != "" %>
    <% end %>
  </div>
</div>