<%= form_for(@formular, :html => {class: "form-group", role: "form"}, url: formular_new_path) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group" >
    <%= f.cktext_area :content, class: 'someclass', ckeditor: { language: 'de'} %>
  </div>
  <%= f.submit "Daten speichern", class: 'btn btn-primary'%>
<% end %>